@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&family=Nanum+Gothic&family=Permanent+Marker&family=Roboto+Mono:wght@300&family=Roboto:ital,wght@0,700;1,400&family=Square+Peg&display=swap");

body {
  background-color: aliceblue;
  min-height: 100vh;
  font-family: "Ms Madi", cursive;
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Permanent Marker", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Square Peg", cursive;
  font-size: x-large;
  margin: 0;
  padding: 0;
  /* height: 100%; */
  font-size: 100%;
  border: 5px solid black;
}

html {
  height: 100%;
  padding: 0;
  margin: 0;
}

#container {
  display: flex;
  justify-content: space-evenly;
  border-width: 4px;
  /* border-color: black; */
  /* border-style: solid; */
  margin: 20px;
  text-align: center;
  flex-direction: row;
  min-height: 100vh;
  align-items: center;
}
#green {
  max-width: 200px;
  border-radius: 20%;
}

#orange {
  max-width: 200px;
  border-radius: 20%;
}

#purple {
  max-width: 200px;
  border-radius: 20%;
}

#footer {
  display: flex;
  list-style: none;
  align-items: center;
  position: sticky;
  color: palevioletred;
  font-size: x-large;
  top: 100%;
  margin-right: 20px;
}
#contact {
  display: flex;
  list-style: none;
  align-items: center;
  position: sticky;
  color: palevioletred;
  font-size: xx-large;
  top: 100%;
  margin-right: 20px;
  font-weight: bolder;
}

#linkedin {
  margin-right: 10px;
  margin-left: 10px;
  color: blue;
}
#Github {
  margin-right: 10px;
  color: blue;
}
#navbar {
  margin-top: 19px;
  display: flex;
  text-decoration: underline rgb(251, 152, 215);
}

#Home {
  list-style: none;
  margin-right: 15px;
  color: rgb(227, 38, 158);
  font-weight: bolder;
  font-size: xx-large;
}

#Bio {
  list-style: none;
  margin-right: 15px;
  color: rgb(227, 38, 158);
  font-weight: bolder;
  font-size: xx-large;
}

#Resume {
  list-style: none;
  margin-right: 15px;
  color: rgb(227, 38, 158);
  font-weight: bolder;
  font-size: xx-large;
}
#image1 {
  color: cadetblue;
  font-weight: bold;
  font-size: large;
  margin-top: -100;
}
#image2 {
  color: orange;
  font-weight: bold;
  font-size: large;
  margin-top: -100;
}
#image3 {
  color: purple;
  font-weight: bold;
  font-size: large;
  margin-top: -100;
}

#h1 {
  color: rgb(251, 152, 215);
  text-align: center;
  font-weight: bolder;
  font-size: 90px;
  margin-bottom: -100px;
}
